/* default view (mobile) */

/* logo animation for 5secs */
#logo {
    animation-name: logo;
    animation-duration: 5s;
}

@keyframes logo {
    from {
        width: 25px;
        opacity: 0;
    }
    to {
        width: 475px;
        opacity: 1;
    }
}
/* set body font and backgrounds */
body {
    font-family: "Poppins", serif;
    background-image: url("../images/concrete_seamless.png");
    background-color: #f1f1f1;
}

/* set header/nav elements as column in center of page */
header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nav_links {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* set links so they don't change appearance after being visited */
a:visited {
    color: blue;
    text-decoration: none;
}

/* style cards */
.card > header {
    background: #288088;
    border: solid 2px #45ADAD;
    padding: 20px 0px;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
}

/* set cards so they're centered as a column */
.card {
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    flex-basis: 450px;
}

.pricing {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

/* set gallary so images are centered and wrap */
.gallery > img {
    border: solid 10px #50C7C7;
    margin: 10px;
    width: 300px;
}

.gallery {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

/* desktop view (900px or wider) */
@media screen and (min-width: 900px) {
    /* set header so logo is at left and nav elements is at right*/
    header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .nav_links {
        display: flex;
        flex-direction: row;
    }

    /* set cards so they appear centered in a row */
    .pricing {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }

    .card {
        flex-basis: 275px;
    }

    /* set header so it sticks to top of page while scrolling */
    body > header {
        position: fixed;
        top: 0;
        width: 100%;
    }

    main {
        margin-top: 8%;
    }
}

/* no logo animation for prefers-reduced-motion */
@media (prefers-reduced-motion) {
    #logo {
        animation: none;
    }
}

/* printed view (portrait mode) */
@media print {
    /* set font to Arial with no background image */
    body {
        font-family: Arial, Helvetica;
        background-image: none;
    }

    /* set header so logo and nav are centered and nav elements appear in row */
    nav {
        width: 100%;
    }
    .nav_links {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

    /* set cards so they appear in row and their bottoms align */
    .pricing {
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: end;
    }

    .card {
        border: solid 2px #45ADDD;
        flex-basis: 325px;
        flex-wrap: nowrap;
    }

    /* hide gallery */
    #gallery {
        display: none;
    }

    .gallery {
        display: none;
    }

    /* add emoji to first sentence of every card */
    .card li:nth-child(2):after {
        content: "👍"
    }
}